{# 
/** 
 * @file
 * Template for the Weather Wave block
 *
 * Available variables:
 */
#}
<!-- Weather -->
<div class="weather">
  {{ form }}
  {% set cd = response_api.localtime|date('l, F j, Y') %}
  {% set td = response_api.localtime|date('H:i:s A') %}
  <div class="container mt-5">
  <div class="d-flex flex-row justify-content-center align-items-center">
    <div class="weather__card">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="p-md-3 p-1">
          <img src="{{response_api.current.condition.icon}}">
          <h2>{{ (response_api.current.temp_c) }}&deg;</h2>
        </div>
        
        <div class="p-md-3 p-1 text-end">
          <span>{{ cd }}</span><br><span>{{ td }}</span>
          <h3>{{ response_api.location.name}}</h3>
          <span class="weather__description">{{ response_api.current.condition.text }}</span>
        </div>
      </div>
      <div class="weather__status d-flex flex-row justify-content-center align-items-center mt-3">
        <div class="p-4 d-flex justify-content-center align-items-center">
          <img src="https://svgur.com/i/oHw.svg">
          <span>{{response_api.current.humidity}}%</span>
        </div>
        <div class="p-4 d-flex justify-content-center align-items-center">
          <img src="https://svgur.com/i/oH_.svg">
          <span>{{response_api.current.pressure_mb}} mB</span>
        </div>
        <div class="p-4 d-flex justify-content-center align-items-center">
          <img src="https://svgur.com/i/oKS.svg">
          <span>{{response_api.current.wind_kph}}km/h</span>
        </div>
      </div>
    </div>
  </div>
  </div> 
  <!-- Weather Forecast -->
  {% for key , item in response_api.forecast.forecastday %}
      {% if days == 'today' and key == 0 %} 
      <div class="weather__forecast row flex-nowrap pb-4 pt-2 d-flex flex-row mt-3 scrolling-wrapper">
        {% for key , data in item.hour %}
          <div class="col-5 d-flex hour">
            <div class="card card-block card-1">
              <span>{{ data.time|date('F j ,l')}}</span><br><span>{{ data.time|date('H:i A')}}</span>
              <img src="{{data.condition.icon}}">
              <span>{{data.temp_c}}&deg;</span>
            </div>
          </div>
        {% endfor %}
      </div>
      {% endif %} 
      {% if days == 'tomorrow' and key == 1 %}
      <div class="weather__forecast row flex-nowrap pb-4 pt-2 d-flex flex-row mt-3 scrolling-wrapper">
        {% for key , data in item.hour %}
          <div class="col-5 d-flex hour">
            <div class="card card-block card-1">
              <span>{{ data.time|date('F j ,l')}}</span><br><span>{{ data.time|date('H:i A')}}</span>
              <img src="{{data.condition.icon}}">
              <span>{{data.temp_c}}&deg;</span>
            </div>
          </div>
        {% endfor %}
      </div>
      {% endif %} 
      {% if days == 'day_after_tomorrow' and key == 2 %}
        <div class="weather__forecast row flex-nowrap pb-4 pt-2 d-flex flex-row mt-3 scrolling-wrapper">
          {% for key , data in item.hour %}
            <div class="col-5 d-flex hour">
              <div class="card card-block card-1">
                <span>{{ data.time|date('F j ,l')}}</span><br><span>{{ data.time|date('H:i A')}}</span>
                <img src="{{data.condition.icon}}">
                <span>{{data.temp_c}}&deg;</span>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %} 
  {% endfor %}
</div>

